{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title_block %} Consultar usuario{% endblock %}

{% block title_content_block %}Consultar usuario{% endblock %}

{% block content_block %}
<div class="row">
    <div class="col-md-12 ">
        <div class="table-responsive">
            <table id="tabla_usuarios" class="table table-bordered table-striped my_datatable">
                <thead>
                <tr>
                    <th>Identificación</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Cargo</th>
                    <th>Email</th>
                    <th>Estado</th>
                    <th>Modificar</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <tr>
                    <th>Identificación</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Cargo</th>
                    <th>Email</th>
                    <th>Estado</th>
                    <th>Modificar</th>
                </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>
{% endblock %}

{% block js_block %}
<script type="text/javascript">
    $(function () {
        var post_url = "{% url 'get_usuario_ajax' %}"; //get form action url

        $.ajax({
            url: post_url,
            type: "GET",
        }).done(function (response) {
            console.log(response)
            $.each(response, function (i, usuario) {
                $('#tabla_usuarios tbody').after("<tr> " +
                    "<td>" + usuario.identificacion + "</td><td>" + usuario.nombre + "</td><td>"
                    + usuario.apellido + "</td><td>" + usuario.cargo + "</td><td>" + usuario.email + "</td><td>" +
                    usuario.estado + "</td><td>" +
                    "<a href= '/usuario/modificar/" + usuario.id + "'" + " class='btn btn-sm btn-info' style='text-align: center'>Modificar</a></td></td></tr>");
            });
        }).fail(function () {
            setTimeout(function () {
                toastr.options = {
                    "closeButton": true,
                    "progressBar": true,
                    "showEasing": "swing"
                }
                toastr ["error"]("Se produjo un error en el servidor")
            }, 500);
        })
    });
</script>
{% endblock %}